<?xml version="1.0" encoding="utf-8"?>
<!-- Fragmento del Web.config de SIREI: lo que hay que trasladar a appsettings.json y Program.cs -->
<configuration>
  <connectionStrings>
    <!-- 🚩 Usuario y contraseña en claro en el fichero de configuración -->
    <add name="SIREI" connectionString="Data Source=SQLPROD01;Initial Catalog=SIREI;User ID=sirei_app;Password=Sirei2014" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaDocumentos" value="\\ficheros01\sirei\documentos" />
    <add key="ExpedientesPorPagina" value="20" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />   <!-- 🚩 debug="true" en producción -->
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" />
    <sessionState mode="InProc" timeout="20" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="480" />
    </authentication>
    <customErrors mode="Off" />   <!-- 🚩 los usuarios ven la página amarilla con la traza -->
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>
